<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>:: Linkedin Contacts Manager ::</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>

		<!-- HEADER START -->
		<%= render "layouts/header"%>
		<!-- HEADER END -->

		<!-- Flash Message Start -->
		<%= render "layouts/message"%>
		<!-- Flash Message End -->

		<!-- Content Start -->
		<div class="content_container">
			<%= yield %>
		</div>
		<!-- Content End -->

		<!-- Spinner div -->
		<div id="spinner_div" class="ajax-loader"></div>

		<!-- FOOTER Start -->
		<%= render "layouts/footer" %>
		<!-- FOOTER End -->

	</body>
</html>